@import "tailwindcss";

:root {
  /*--background: #ffffff;
  --foreground: #171717;*/
}

@theme inline {
   --shadow-default:2px 4px 8px 0px rgba(0,0,0,0.1);
  --font-sans: var(--font-rubik-sans);
  --color-primary:#70c05b;
  --shadow-button-default:4px 8px 16px 0px rgba(112,192,91,0.2);
  --shadow-button-active:inset 0px 2px 0px 0px rgba(0,0,0,0.2);
  --shadow-default:4px 8px 6px 0px rgba(0,0,0,0.2);
  --shadow-article:4px 8px 16px 0px rgba(255, 102, 51, 0.2);
}

@media (prefers-color-scheme: dark) {
  /*:root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }*/
}

html, body {
  height: 100%;
}


body {
  background: #fbf8ec;
  padding-bottom: 5rem;
  color: var(--foreground);
  font-family: var(--font-rubik),sans-serif;
}

li:hover{
  color: #70c05b;
}

@keyframes spin {
  to {transform: rotate(360deg);}
}

@keyframes progress {
  0% {width:0%}
  50% {width: 100%}
  100%{width: 0%}
}

.animate-spin {
  animation: spin 1s linear infinite;;
}

.animate-progress {
  animation: progress 2s ease-in-out infinite;
}